body{
    margin: 0;
    padding: 0;
    background-color:rgb(11, 94, 94);
    background-size: cover;
    font-family: "Comfotaa", sans-serif;
}
.table{
    width: 320px;
    height: 420px;
    border: 2px solid #000;
    border-radius: 80px 0px 80px 0px;
    color: #fff;
    background-color: rgba(0, 0, 5, 8);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 68px 28px;
}
.tablep{
    width: 320px;
    height: 70%;
    border: 2px solid #000;
    border-radius: 80px 0px 80px 0px;
    color: #fff;
    background-color: rgba(0, 0, 5, 8);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 68px 28px;
}
.tablegu{
    width: 700px;
    height: 65%;
    border: 2px solid #000;
    border-radius: 80px 0px 80px 0px;
    color: #fff;
    background-color: rgba(0, 0, 5, 8);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 68px 28px;
}
.tablegp{
    width: 700px;
    height: 65%;
    border: 2px solid #000;
    border-radius: 80px 0px 80px 0px;
    color: #fff;
    background-color: rgba(0, 0, 5, 8);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 68px 28px;
}
tr {
	text-align: center;
	padding-left:20px;
}

td {
    padding:10px;
}

td [contenteditable="true"] {
	padding:10px;

}

th {
	padding:20px;

}
/*CSS do pefil*/
h1{
    margin: 0;
    padding-top: 0em;
    padding-left: 0em;
    padding-bottom: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}
.table label{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.tablep label{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.tablegu label{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.tablegu select{
    display: block;
    margin: 0;
    width: 100%;
    padding: 0;
    font-weight: bold;
    background: transparent;
    border: none;
    margin-bottom: 21px;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 16px;;
}
.tablegp label{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.table input{
    width: 100%;
    margin-bottom: 21px;
}
.tablep input{
    width: 100%;
    margin-bottom: 21px;
}
.tablegu input{
    width: 100%;
    margin-bottom: 21px;
}
.tablegp input{
    width: 100%;
    margin-bottom: 21px;
}
.table input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;;
}
.tablep input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}
.tablegu input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.tablegp input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;;
}
.tablegu input[type="number"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}
.tablegu input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.table input[type="button"]{
    border: none;
    outline: none;
    height: 35px;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    transition: 0.2s;
}
.table input[type="button"]:hover{
    cursor: pointer;
    background:rgb(11, 94, 94);
    transition: 0.2s;
}
.tablep input[type="submit"]{
    border: none;
    outline: none;
    height: 35px;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    transition: 0.2s;
}
.tablep input[type="submit"]:hover{
    cursor: pointer;
    background:rgb(11, 94, 94);
    transition: 0.2s;
}
.tablegu input[type="submit"]{
    border: none;
    outline: none;
    height: 35px;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    transition: 0.2s;
}
.tablegu input[type="submit"]:hover{
    cursor: pointer;
    background:rgb(11, 94, 94);
    transition: 0.2s;
}
.tablegp input[type="submit"]{
    border: none;
    outline: none;
    height: 35px;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    transition: 0.2s;
}
.tablegp input[type="submit"]:hover{
    cursor: pointer;
    background:rgb(11, 94, 94);
    transition: 0.2s;
}
.tablep input[type="button"]{
    border: none;
    outline: none;
    height: 35px;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    transition: 0.2s;
}
.tablep input[type="button"]:hover{
    cursor: pointer;
    background:rgb(11, 94, 94);
    transition: 0.2s;
}
.tablegu input[type="button"]{
    border: none;
    outline: none;
    height: 35px;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    transition: 0.2s;
}
.tablegu input[type="button"]:hover{
    cursor: pointer;
    background:rgb(11, 94, 94);
    transition: 0.2s;
}
.tablegp input[type="button"]{
    border: none;
    outline: none;
    height: 35px;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    transition: 0.2s;
}
.tablegp input[type="button"]:hover{
    cursor: pointer;
    background:rgb(11, 94, 94);
    transition: 0.2s;
}
/*CSS da mensagem de erro*/
.msg{
	border:#ccc 1px solid;
	border-radius: 4px;
	margin: 20px;
}

.msg p{
	padding: 5px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-align: center;
}