<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="estilo.css" />
    <title>Login</title>
</head>
<body>
    <div class="table">

            <form method="POST" action="../src/controll/processa.usuario.php">

                <label>Login</label>
                <input type="text" id="login">

                <label>Senha</label>
                <input type = "password" id="senha">
                
                <input type ="button" value = "acessar" onclick = "acessar()">

            </form>

            <div class="msg">
               <p id="mensagem">Mensagens do Sistema</p>
            </div>
    </div>
    <script src="login.js"></script>
</body>
</html>