<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estilo.css" />
    <title>Perfil</title>
</head>

<body onload="carregaPerfil()">

    <div class="tablep">

        <form>
            
            <h1>Perfil Cumum</h1>

            <label>Nome</label>
           <input type="text" id="nome"/>

            <label id="telefones">Telefones</label>


            <label>Login</label>
            <input type="text" id="login" readonly/>

            <label>Senha</label>
           <input type="password" id="senha"/>

            <label>Corfirme sua Senha</label>
            <input type="password" id="csenha"/>

            <input type="button" value="Atualizar" onclick="atualizaPerfil('comum')" />
            <input type="button" value="Sair" onclick="sair()"/>

        </form>

        <div class="msg">
            <p id="mensagem">Mensagens do Sistema</p>
        </div>
        
    </div>

    </div>
    <script src="perfiladm.js"></script>
</body>
</html>