<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estilo.css" />
    <title>Gerenciar</title>
</head>

<body onload="carregaPessoas()">

    <div class="tablegp" >
        <table>
            <thead>
                <tr>
                    <h1 colspan="4">Gerenciar Pessoas</h1>
                </tr>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="bodyPessoas">
            </tbody>
            <tfoot>
                    <tr>
                        <td>Auto</td>
                        <td><input type="text" placeholder="Nome" id="nomePessoa"></td>
                        <td><input type="text" placeholder="Telefone" id="telPessoa"></td>
                        <td><input type="button" value="Criar" onclick="criaPessoa()"></td>
                    </tr>
            </tfoot>
        </table>
    </div>

    <div class="msg">
        <p id="mensagem">Mensagens do Sistema</p>
    </div>

    <script src="perfiladm.js"></script>
</body>
</html>