<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estilo.css" />
    <title>Gerenciar</title>
</head>
<body onload="carregarPerfil()">

    <div class="tablegp">

        <form method="" action="">
            
            <h1>Gerenciar Pessoas</h1>

            <label>Id</label>
            <input type="text"  placeholder="Auto" disabled/>

            <label>Nome</label>
           <input type="text" id="nome" name="nome"/>

            <label>Telefone</label>
            <input type="text" id="telefone" name="telefone"/>

            <input type ="submit" value = "Criar">
            <input type="button" value="Sair" onload="sair()"/>

        </form>

    </div>
    <script src="perfiladm.js"></script>
</body>
</html>