<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estilo.css" />
    <title>Gerenciar</title>
</head>
<body onload="carregaUsuario()">

    <div class="tablegu">

        <form method="" action="">
            
            <h1>Gerenciar Usuário</h1>

            <label>Id</label>
           <input type="number" id="id" name="id"/>

            <label>login</label>
            <input type="text" id="login" name="login"/>

            <label>Senha</label>
            <td><input type="password" id="senha" name="senha"/></td>

            <label>Tipo</label>
            <br/>
            <br/>
            <select name="tipo">
                <option value="adm">Admin</option>
                <option value="comum">Comum</option>
            </select>
            <br/>

            <input type ="submit" value = "Criar" onclick="criaUsuario()">
            <input type="button" value="Sair" onclick="sair()"/>

        </form>

        <div class="msg">
            <p id="mensagem">Mensagens do Sistema</p>
        </div>

    </div>
    <script src="perfiladm.js"></script>
</body>
</html>