<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estilo.css" />
    <title>Gerenciar</title>
</head>
<body onload="carregaUsuarios()">

    <div class="tablegu">

        <table>
            <thead>
                <tr>
                    <h1 colspan="4">Gerenciar Usuários</h1>
                </tr>
                <tr>
                    <th>Id</th>
                    <th>Login</th>
                    <th>Tipo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="bodyUsuarios">
            </tbody>
            <tfoot>
                <tr>
                    <form>
                        <td><input type="number" placeholder="id" id="idUser" style="width:50px"></td>
                        <td><input type="text" placeholder="login" id="loginUser">
                            <input type="password" placeholder="senha" id="senhaUser">
                        </td>
                        <td><select id="tipoUser">
                                <option value="adm">Admin</option>
                                <option value="comum">Comum</option>
                            </select></td>
                        <td><input type="submit" value="Criar" onclick="criaUsuario()"></td>
                    </form>
                </tr>
            </tfoot>
        </table>

    </div>
    <script src="perfiladm.js"></script>
</body>
</html>