<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estilo.css" />
    <title>Perfil</title>
</head>
<body>
    <div id="perfil">
        <form method="" action="">
            <h1>Perfil Cumum</h1>

            <label>Nome</label>
            <input type="text" name="nome"/>

            <label>Telefone</label>
            <input type="text" name="telefone"/>

            <label>Senha</label>
            <input type="password" name="senha"/>

            <label>Corfirme sua Senha</label>
            <input type="password" name="senha conf"/>

            <input type ="button" value = "atualizar">
        </form>
    </div>
</body>
</html>